################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreMarket/.vs/BookStoreMarket
/BookStoreMarket/BookStoreMarket/bin/Debug/net5.0
/BookStoreMarket/BookStoreMarket/obj
